<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="org.modelio.logixuml.impl.LogixUMLModule" binaryversion="4.0.00" version="${project.version}" schema-level="2" uid="acacd734-07bb-4f3f-bf55-535adeb61bb3">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
        <PathEntry path="lib/commons-lang3-3.1.jar"/>
        <PathEntry path="lib/apiguardian-api-1.1.0.jar"/>
        <PathEntry path="lib/opentest4j-1.2.0.jar"/>
        <PathEntry path="lib/junit-platform-commons-1.7.0.jar"/>
        <PathEntry path="lib/junit-jupiter-api-5.7.0.jar"/>
        <PathEntry path="lib/junit-jupiter-params-5.7.0.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="ee27d796-28f9-4cb7-8b53-3721a3773892" id="LogixUMLProfile">
            <Stereotype name="statemachineaoi" metaclass="StateMachine" is-hidden="false" label="State Machine AOI" uid="61d9a1a0-f1d1-4a9f-b087-7f3ff00985e6">
                <PropertyTable id="stateMachineAoiParameters" uid="f5b2a450-7a1b-44a5-9751-f3c3d142e2ca">
                    <PropertyDefinition id="eventQueueSize" default-value="4" is-editable="true" uid="b0efafc8-acc1-4e92-bf5f-bf563f51ffb2">
                        <TypeRef id="Unsigned"/>
                    </PropertyDefinition>
                    <PropertyDefinition id="transitionScanMode" default-value="Single" is-editable="true" uid="53337d3b-eaa5-4048-8191-fe66b3f6075c">
                        <TypeRef id="Text"/>
                    </PropertyDefinition>
                </PropertyTable>
            </Stereotype>
        </Profile>
    </Profiles>
    <Parameters>
        <Parameter id="transitionScanModeEnum" uid="1c5c1833-3db5-4b94-9a45-c6ff226604f5" type="Enum" default-value="Dual">
            <Enumeration>
                <Literal value="Single"/>
                <Literal value="Dual"/>
                <Literal value="Sequential"/>
            </Enumeration>
        </Parameter>
    </Parameters>
    <Gui>
        <Commands>
            <Command id="HelloWorldCommand" label="%HelloWorldCommandLabel" tooltip="%HelloWorldCommandTooltip" image="res/icons/HelloWorldCommand_16.png" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="org.modelio.logixuml.command.HelloWorldCommand"/>
            </Command>
            <Command id="exportAoiCommand" label="Export AOI" group="" modify-model="false">
                <Scope metaclass="StateMachine" stereotype="statemachineaoi"/>
                <Handler class="org.modelio.logixuml.command.ExportAoiCommand"/>
            </Command>
        </Commands>
        <ContextualMenu>
            <CommandRef refid="HelloWorldCommand"/>
            <CommandRef refid="exportAoiCommand"/>
        </ContextualMenu>
        <Views/>
    </Gui>
    <Dependencies/>
</Module>
